<div class="card-panel amber lighten-1">Gif the way you feel</div>
<div class="post-list-container">

</div>
<div id="gif-display" class="new-gif-form">
  <%= erb :'/posts/new', layout: false %>
</div>
